<?xml version="1.0"?>
<configuration>
	<appSettings/>
  <connectionStrings>
    <add   name="SqLiteConn"  connectionString="Data Source=E:\编程实践\Promraming in Asp.net\Web实时聊天程序\WebChat_ServerPush--改良版本去除WebService\WebChat_ServerPush\DataBase\ChatSysData.s3db" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<!--comet长连接配置字节-->
			<add verb="*" path="comet_broadcast.asyn" type="ServerPushHttpHandler.ServerPush,ServerPushHttpHandler"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>



<!--httpHandler 节点含义定义：
  verb=get/post/*  请求是以哪种方式，path=*.asyn/xxoo.asyn  请求路径， type处理该请求的类名-->

<!--如果要部署在IIS中，需要设置处理程序映射，
IIS中打开指定网站，处理程序映射，填上请求的服务器URI,
也就是以上的comet_broadcast.asyn，可执行文件路径是：
C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\iasp-iapi.dll-->